/* 插件配置样式 */
.stats-container {
	padding: 20px;
	min-width: 300px;
}

/* 插件控制 */
.setting {
	display: flex;
	align-items: center;
}

/* 滑动开关样式 */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 17px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #52c41a;
}

input:checked + .slider:before {
	transform: translateX(13px);
}

#statusText {
	margin-left: 8px;
	font-size: 12px;
}

/* 统计Item */
.stat-item {
	margin: 12px 0;
	padding: 12px;
	background: #f6ffed;
	border-radius: 8px;
}
